body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  background-color: #eee;
  color: #333;
}
header, footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
section.case-recuso {
  background-color: #fff;
  color: #333;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
nav ul {
  background-color: #150101;
  color: #eee;
 
}


main {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;    
    display: flex;
    line-height: 1.6;
    flex-direction: column;
   
}
main .perfil, main .sobre-mim{
 
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  float:right
  
 
  
}
main .localizacao {
  display: block;
  display: inline-block;    
  float:left;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
section h2 {
  .sobre-mim {
    background-color: #004466;
    grid-area: sobre-mim;
  }
  .localizacao {
    grid-area: localizacao;
  }
  display: block;
  display: inline-block;
  color: #004466;
  margin-top: 0;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  float: right;
}
p {
  bottom: 0;
  border: 2px solid #ccc;
  margin: 10px 0;
}
nav {
  display: flex;
  justify-content: center;
}